@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

article {
  border: none;
  width: 52.4rem;
  height: 47.4rem;
  margin: 3rem;
  box-shadow: $box-shadow;
  position: relative;
  @include center-column;
  transition: transform 0.15s ease-in-out;
  border-radius: 4px;
  .project-preview {
    height: 45rem;
    background-size: cover;
  }
  h3 {
    @include button-text;
    margin-top: 2.5rem;
  }
  p {
    @include body-font;
    width: 80%;
    margin: 0;
    font-size: 1.7rem;
  }
  .tech {
    width: 80%;
    @include space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
  }
  .tech-icon-container {
    @include center-column;
    width: 9rem;
    margin-top: 1rem;
    img {
      height: 3.5rem;
      margin: 0.5rem;
    }
    p {
      @include button-text;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .project-buttons-container {
    position: absolute;
    bottom: 3rem;
    width: 90%;
    @include space-evenly;
    flex-wrap: wrap;
    .humor-me-buttons {
      width: 100%;
      @include space-evenly;
      margin-top: 2rem;
    }
  }
}

.project-detail {
  border: 1.2rem $secondary-accent-color solid;
  width: 50rem;
  height: 45rem;
}

.project-detail:hover,
.project-preview:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.15s ease-in-out;
}

