@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

article {
  width: 45rem;
  height: 40rem;
  margin: 3rem;
  border: 1.2rem $secondary-accent-color solid;
  @include center-column;
  h3 {
    @include button-text;
  }
  p {
    @include body-font;
    font-size: 3rem;
    width: 80%;
  }
  .tech {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
  }
  .tech-icon-container {
    @include center-column;
    width: 8rem;
    img {
      height: 4rem;
      margin: 0.5rem;
    }
    p {
      @include button-text;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}