@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.projects-section {
  height: 100%;
  @include center-column;
  .projects {
    @include space-evenly;
    flex-wrap: wrap;
    margin: 4rem;
    text-align: center;
  }
}