$primary-background-color: #F5F5F5;

$primary-accent-color: #28652B;
$secondary-accent-color: #A3CBA5;

$primary-text-color: #424242;
$secondary-text-color: #F5F5F5;
$emphasis-text-color: #183C19;

$header-font: 'Offside', sans-serif;
$button-font: 'Nunito Sans', sans-serif;
$body-font: 'Ubuntu', sans-serif;

$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);