$primary-background-color: #F5F5F5;

$primary-accent-color: #28652B;
$secondar-accent-collor: #A3CBA5;

$primary-text-color: #424242;
$secondary-text-color: #F5F5F5;

$header-font: 'Offside', sans-serif;
$button-font: 'Nunito Sans', sans-serif;
$body-font: 'Ubuntu', sans-serif;