@use 'variables' as v;
@use 'mixins' as m;

* {
  // border: 1px solid red;
}

html,
body,
.root,
.page {
  margin: 0;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, #D4A29C 0%, #EDCC8B 50%, #B6D8D3 100%);
  font-size: 62.5%;
}


h2 {
  font-size: 9.5rem;
  margin: 1rem 0;
  align-self: center;
}

h1, h2 {
  font-family: 'Philosopher', sans-serif;
}

button {
  font-family: 'Amaranth', sans-serif;
}

p {
  font-family: 'Spinnaker', sans-serif;
  margin: 0;
}

button,
p {
  font-size: 3rem;
}

h1,
h2,
button,
p {
  color: v.$text-color;
  text-shadow: v.$shadow;
}

.landing {
  width: 100%;
  display: flex;
  @include m.true-center;
}

.landing__box {
  width: 75%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  @include m.true-center;
  background: url('../flowers-bw-op.png');
  // box-shadow: v.$shadow;
  border-radius: 10px;
}

.landing__text {
  width: 85%;
}

button {
  background: rgba(217, 217, 217, 0.00);
  padding: 0.5em 1em;
}

.landing__button {
  border-radius: 2px;
  border: 1px solid #FFF;
  margin-top: 1em;
  width: 250px;
}

.landing__button:hover {
  background-color: #E4845B;
}

nav {
  display: flex;
  position: fixed;
  background-color: #F8F9FA33;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__text {
  font-size: 2.2rem;
}

.nav__header,
.nav__buttons {
  padding: 0 3rem;
}

.nav__button {
  border: none;
  padding: 2rem;
}