.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
}

.about-image {
  height: 50vh;
}

.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-text p {
  margin-bottom: 1rem;
}
.about-text a {
  color: #47725d;
  text-decoration: none;
}
.about-text a:hover {
  text-decoration: underline;
  text-decoration-color: #47725d;
}

html,
body,
.root,
.app {
  margin: 0;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  background-color: #F5F5F5;
}

.app {
  position: relative;
  z-index: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .main-wrapper {
  width: 100%;
}

h2 {
  font-family: "Glacial Indifference", sans-serif;
  color: #424242;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5rem;
  margin: 2em 0;
}

p {
  font-family: "Inter", sans-serif;
  color: #424242;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

button {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  width: 16.5rem;
  height: 5.25rem;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.05s ease-in-out;
}

.primary-button {
  background-color: #47725d;
  color: #F5F5F5;
}

button:hover {
  animation: button-fade 0.5s;
  background-color: #A3CBA5;
  border: none;
  color: #183C19;
}

a:hover,
button:hover {
  cursor: pointer;
}

.menu {
  height: 100vmin;
  background-color: rgba(163, 203, 165, 0.5647058824);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

#menu-exit {
  align-self: flex-end;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes button-fade {
  to {
    background-color: #A3CBA5;
    border: none;
    color: #183C19;
  }
}
@media screen and (min-width: 1400px) {
  .main__wrapper {
    width: 1400px;
  }
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .email-container {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.contact-section .email {
  color: #47725d;
  margin-left: 1rem;
}
.contact-section a {
  text-decoration: none;
}
.contact-section .email:hover {
  text-decoration: underline;
  text-decoration-color: #47725d;
}
.contact-section .social-icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 30%;
}
.contact-section img {
  width: 5rem;
  transition: transform 0.05s ease-in-out;
}
.contact-section img:hover {
  transform: scale(1.1);
  transition: transform 0.05s ease-in-out;
}

.hero-section {
  height: 87vh;
  width: 100%;
  display: flex;
}

.hero-text-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text-container h2 {
  margin-bottom: 3rem;
}
.hero-text-container p {
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8rem;
}
.hero-text-wrapper .buttons-container {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}
.hero-text-wrapper .buttons-container button {
  margin-right: 2rem;
}
.hero-text-wrapper .buttons-container button:hover {
  transform: scale(1.1);
  transition: transform 0.05s ease-in-out;
}

.hero-image-container {
  width: 40%;
}
.hero-image-container img {
  width: 100%;
  height: 87vh;
  object-fit: cover;
}

.top-nav {
  background-color: #F5F5F5;
  border-top: 5px solid #A3CBA5;
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: 8.5rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.nav-wrapper h1 {
  margin: 0 0 0 2rem;
}

#logo {
  object-fit: cover;
  height: 100%;
  margin: 1rem 0 0;
  width: 29rem;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
}
.nav-buttons a {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-left: 3rem;
  color: #183C19;
  transition: transform 0.05s ease-in-out;
}
.nav-buttons a,
.nav-buttons a:active {
  text-decoration: none;
}
.nav-buttons a:hover {
  transform: scale(1.1);
  transition: transform 0.05s ease-in-out;
}
.nav-buttons .material-symbols-rounded {
  color: #47725d;
  font-size: 3rem;
}
.nav-buttons .material-sybmols-rounded:hover {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .nav-wrapper {
    width: 1440px;
  }
}
.projects-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section .projects {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 4rem 4rem;
  text-align: center;
}

article {
  margin: 3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.15s ease-in-out;
  border-radius: 4px;
}

.card-front {
  border: none;
  width: 52.4rem;
  height: 47.4rem;
}

.card-back {
  border: 1.2rem #A3CBA5 solid;
  width: 50rem;
  height: 45rem;
}
.card-back h3 {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
}
.card-back p {
  font-family: "Inter", sans-serif;
  color: #424242;
  font-size: 2rem;
  font-weight: 300;
  width: 80%;
  margin: 0;
}
.card-back .tech {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem;
}
.card-back .tech-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  margin-top: 1rem;
}
.card-back .tech-icon-container img {
  height: 3.5rem;
  margin: 0.5rem;
}
.card-back .tech-icon-container p {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.card-back .project-buttons-container {
  position: absolute;
  bottom: 3rem;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-back .project-buttons-container .humor-me-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.card-back:hover,
.card-front:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.15s ease-in-out;
}

.hidden {
  visibility: hidden;
}

/*# sourceMappingURL=output.css.map */
