@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

html,
body,
.root,
.app {
  margin: 0;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  background-color: $primary-background-color;
}

button {
  @include button-text;
  @include button-box;
}

.primary-button {
  @include button-style-primary;
}