@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

html,
body,
.root,
.app {
  margin: 0;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  background-color: $primary-background-color;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  .main-wrapper {
    width: 100%;
  }
}

h2 {
  @include header-font;
  margin: 2em 0;
}

p {
  @include body-font;
  margin: 0;
}

button {
  @include button-text;
  @include button-box;
  transition: transform 0.05s ease-in-out;
}

.primary-button {
  @include button-style-primary;
}

button:hover {
  animation: button-fade 0.5s;
  @include button-hover;
}

a:hover,
button:hover {
  cursor: pointer;
}

@keyframes button-fade {
  to {
    @include button-hover;
  }
}

@media screen and (min-width: 1400px) {
  .main__wrapper {
    width: 1400px
  }
}