@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about-wrapper {
  @include center-column;
}

.about-content {
  @include space-evenly;
}

.about-image {
  height: 50vh;
}

.about-text {
  width: 50%;
  @include center-column;
  p {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}