@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
  width: 100%;
  .hero-text-container {
    @include true-center;
    height: 100%;
    width: 60%;
    margin: 0 5rem;
    .buttons-container {
      display: flex;
      align-items: center;
      margin: 3rem 0;
      button {
        margin-right: 2rem;
      }
    }
  }
  .hero-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
}

