@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero-section {
  @include space-evenly;
  align-items: center;
  height: 80vh;
  .hero-text-container {
    @include true-center;
    .buttons-container {
      display: flex;
      align-items: center;
      margin: 3rem 0;
      button {
        margin-right: 2rem;
      }
    }
  }
  .hero-image {
    width: 30%;
    height: 85%;
    object-fit: cover;
  }
}

