@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contact-section {
  @include center-column;
  .email-container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  .email {
    color: $primary-accent-color;
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
  }
  .email:hover {
    text-decoration: underline;
    text-decoration-color: $primary-accent-color;
  }
  .social-icons-container {
    @include space-evenly;
    align-items: center;
    height: 10rem;
    width: 30%;
  }
  img {
    width: 5rem;
    transition: transform 0.05s ease-in-out;
  }
  img:hover{
    @include link-hover;
  }
}