@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contact {
  @include center-column;
  .contact__email-container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  .contact__email {
    color: $primary-accent-color;
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
  }
  .email:hover {
    @include inline-link-hover;
  }
  .contact__socials-container {
    @include space-evenly;
    align-items: center;
    height: 10rem;
    width: 30%;
  }
  .contact__social {
    width: 5rem;
    transition: transform 0.05s ease-in-out;
  }
  img:hover{
    @include link-hover;
  }
}