@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__text {
  font-size: 2.2rem;
}

.nav__header,
.nav__button,
.nav__button:visited {
  text-decoration: none;
}


.nav__header,
.nav__buttons {
  padding: 0 3rem;
}

.nav__button {
  @include button;
}